@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*,
body,
html {
  margin: 0;
  padding: 0;
  background: #ffffff;
}
body{
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
header {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.logo {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d04f4f;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logo h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 2.1em;
  font-weight: 700;
  margin-bottom: 15px;
}
main {
  width: 100vw;
}
.search {
  position: relative;
  width: 100vw;
}
#searchbar {
  position: relative;
  display: block;
  width: 86%;
  margin: 10px auto;
  /* margin-left: 8%; */
  height: 50px;
  border: none;
  background-color: #e7e7f2;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 2%;
  outline-color: #ed6454;
}
#searchbar::placeholder {
  color: #ACACAC;
}

.icon-search {
  position: absolute;
  top: 13px;
  right: 6%;
  background-color: #e7e7f2;
  font-size: 1.8em;
  font-weight: 600;
}

/* Filters inputs */
.--blue {
  background-color: #3282f7;
}
.--green {
  background-color: #68d9a4;
}
.--orange {
  background-color: #ed6454;
}
.filters {
  display: flex;
  width: 90%;
  margin: auto;
}
.select {
  position: relative;
  width: 170px;
  height: 60px;
  border-radius: 5px;
}
.select input:focus-visible {
  border: none;
  outline: none;
}
.select input {
  overflow: visible;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding-left: 3%;
}
.select input::placeholder {
  color: white !important;
  opacity: 1;
}
.select i {
  position: absolute;
  top: 25px;
  right: 20px;
  color: white;
  pointer-events: none;
}
.select.active{
  width: 667px ;
}
.select.active input{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.select.active i{
  right: 70px;
}
.select-list {
  position: absolute;
  top: 60px;
  left: 0;
  width: 93%;
  padding-left: 3%;
  height: 320px;
  z-index: 5;
  box-sizing: border-box;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
  overflow: hidden;
}
.select-list li{
  position: relative;
  list-style: none;
  background-color: inherit;
  font-size: 18px;
  margin: 3px 0;
  cursor: pointer;
  text-overflow: ellipsis;
}

/* CARDS */

.cards-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 50px auto;
  flex-wrap: wrap;
  row-gap: 40px;
}

.card{
  width: 350px;
  height: 360px;
  border-radius: 5px;
  background-color: #E6E6E6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: none;
}
.card .card-img{
  width: 100%;
  height: 50%;
  content: '';
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #C7BEBE;
}
.card-description{
  background-color: #E6E6E6;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.card-description-header {
  padding-top: 20px;
  display: flex;
  background-color: #E6E6E6;
  width: 90%;
  margin: auto;
  justify-content: space-between;
}
.card-description-header h4{
  background-color: #E6E6E6;
  font-weight: 500;
}
.card-description-header .time,i,span{
  background-color: #E6E6E6;
}
.time{
  display: flex;
  align-items: center;
}
.time span{
  font-weight: 600;
  margin-left: 5px;
}
.card-ingredients{
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 12px;
  height: 105px;
  background-color: #E6E6E6;
}

.ingredients{
  list-style: none;
  width: 60%;
  background-color: #E6E6E6;
}
.ingredients li{
  background-color: #E6E6E6;
  font-weight: 600;
  margin-bottom: 3px;
}
.ingredients li span{
  font-weight: 400;
  background-color: #E6E6E6;
}
.recipe{
  max-width: 40%;
  background-color: #E6E6E6;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  max-height: 105px;
}

.tags-list{
  width: 90%;
  margin: 7px auto;
  display: flex;
}
.tag{
  width: 100px;
  height: 35px;
  margin-right: 5px;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.tag span {
  font-size: 14px;
  background-color: inherit;
}
.tag i {
  cursor: pointer;
  background-color: inherit;
}